doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, height=device-height, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="editorbundle.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script.
      var gFiddleId = "#{defaultDocument.id.toString(16)}";
      var gUploadEnabled = #{conf.features.uploadEnabled};
  body(onload="init()")
    div(id="layout-container")
      header(id="header") 
        a(href="/")
          img(src="/favicon.ico", class="d-block") 
        div(class="flex-grow-1")
          input(type="text", id="titleInput", name="title", placeholder="Untitled fiddle", value=defaultDocument.title)
        ul(id="actions")
          li 
            input(type="button", id="saveButton",value="Save")
          li
            input(type="button", id="forkButton", value="Fork")
      main(id="content", class="split")
        div(id="code")
          pre(id="hardcoded-fiddle")= defaultDocument.content
        div(id="output")
          div(id="screen")
            div(id="screen-overlay")
              figure(style="overflow:visible;", id="qtspinner")
                center(style="line-height:150%")
                  img(src="qtlogo.svg", width="320", height="200", style="display:block")
                  strong Qt for WebAssembly: qmlfiddle
                  div(id="qtstatus")
                  noscript JavaScript is disabled. Please enable JavaScript to use this application.
          div(id="console")
      footer(id="footer") 
        ul(class="hmenu", style="margin-left: 1em;")
          li
            a(href="/documentation.html", title="Documentation") Documentation
        ul(class="hmenu", style="margin-left: auto; margin-right: 1em;")
          li
            a(href="/privacy.html", title="Privacy policy")
              img(width="16", src="/images/biscuit.svg")
          li
            a(href="https://github.com/strandfield/qmlfiddle")
              img(width="16", src="/images/github-mark-white.svg")
    script(type="text/javascript", src="javascripts/index.js")
    script(src="qmlfiddle.js")
    script(type="text/javascript", src="qtloader.js")
